/*css 初始化*/

html, body, #app {
  margin: 0;
  padding: 0;
  border-width: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overscroll-behavior: none; /*防止被 mac 的手势影响*/
}
html{
  font-size: 100px;
}
body{
  position: relative;
  font-size: 0.2rem;
}
/*#app{
  overflow: auto;     /*配合mac滚动禁止跳页操作*\/
  touch-action: none; /*静止浏览器滑动页面前进后退*\/
}*/
div, svg, pre, textarea, input, iframe, img, p, canvas,
h1, h2, h3, h4, h5, h6, i, ul, li, select, option{
  display: block;
  margin: 0;
  padding: 0;
  border-width: 0;
  user-select: none;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

ul{
  list-style: none;
}

canvas {
  touch-action: none; /*用于移动端 canvas 事件与页面后退的问题*/
}

/* 页面相关 */
#renderCanvas{
  width: 100%;
  height: 100%;
}

#absolute{
  position: absolute;
  max-width: 100%;
  z-index: 1;
}